body {
    padding-top: 110px;  /* depends on your navbar height */
    
}


/*Navigation Section*/  
nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 60px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 80px;
    
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    white-space: nowrap;
}



.logo-default img {
    width: 80px;
    height: auto;
}

.nav-only:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.logo-sidebar img {
    width: 80px;
    height: auto;

}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}




/* Nav purposes */
.application {
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
 
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.application h2 {
  color: #77C9D4;
  margin-bottom: 15px;
  font-size: 1.8rem;
  border-left: 6px solid #77C9D4;
  padding-left: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.application:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.app-content {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.app-content img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.app-content p {
  flex: 1;
  font-size: 1.3  rem;
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  text-align: center;
  background-color: #57BC90;
  color: white;
  padding: 20px;
  font-size: 0.9rem;

 
}