body {
    padding-top: 110px;
    margin: 0;
    padding: 0;
}


/*Navigation Section*/  
nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 120px; 
    display: flex;
    align-items: center;


}

.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-bottom: 60px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 80px;
    height: 90px;     
    display: flex;
    align-items: center;
    
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    white-space: nowrap;
    padding: 0 40px;
    font-size: 1rem;  
}



.logo-default img {
    width: 80px;
    height: auto;
}

.nav-only:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.logo-sidebar img {
    width: 80px;
    height: auto;

}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}


/* Call to action section */
.cta {
    width: 100%;
    padding: 100px 20px;
    background: linear-gradient(135deg, #57BC90, #77C9D4);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 25px rgba(0,0,0,0.2);
}

.cta-content {
    max-width: 800px;
    animation: fadeIn 1.2s ease-out forwards;
    opacity: 0;
    margin: 0 auto; 
    padding-top: 100px;
}

.cta h1 {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;
}

.cta p {
    font-size: 1.25rem;
    margin-bottom: 30px;
    opacity: 0.95;
}

.cta-btn {
    display: inline-block;
    padding: 14px 40px;
    background: white;
    color: #57BC90;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 35px;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 0 0 12px rgba(255,255,255,0.6);
}

.cta-btn:hover {
    background: #e8e8e8;
    transform: translateY(-3px);
    box-shadow: 0 0 18px rgba(255,255,255,0.9);
}

/* Animation */
@keyframes fadeIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}










/* Nav purposes */
.application {
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
 
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.application h2 {
  color: #77C9D4;
  margin-bottom: 15px;
  font-size: 1.8rem;
  border-left: 6px solid #77C9D4;
  padding-left: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.application:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.app-content {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.app-content img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.app-content p {
  flex: 1;
  font-size: 1.3  rem;
  line-height: 1.3;
  font-family: Georgia, 'Times New Roman', Times, serif;
}





/* Container for image + video */
.media {
    position: relative;
    width: 300px;
    height: 200px;
}

.media img,
.media video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    transition: opacity 0.3s ease-in-out;
}

/* Hide video by default */
.media video {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

/* On hover → video fades in, image fades out */
.media:hover img {
    opacity: 0;
}

.media:hover video {
    opacity: 1;
}






.footer {
    background-color: #77C9D4;
}

.footer-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* 4-column structure */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin: 1.5rem;
    gap: 20px;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media (min-width: 640px) {

    .footer-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {

    .footer-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.footer-link-group h4 {
    font-size: 1.375rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1.5rem;
    color: #46787f;
    position: relative;
    padding-bottom: 0.5rem;
}

.footer-link-group h4:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2rem;
    height: 3px;
    background-color: white;
    border-radius: 9999px;
}

.footer-logo {
    grid-column: span 1;
    margin: 10px;
}

.footer-logo img {
    width: 80px;
    height: auto;
}

@media (min-width: 1024px) {

    .footer-logo {
        grid-column: span 1;
    }
}

.footer-logo h4 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.2;
    gap: 1rem;
    margin-bottom: 1rem;
    color: white;
    display: flex;
    align-items: center;
}

.footer-logo h4:after {
    content: none;
}

.footer-logo p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.6;
}

.footer-link-group ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    color: rgba(0, 0, 0, 0.8)
}

.footer-link-group a {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    transition: color 150ms ease-in-out;
}

.footer-link-group a:hover {
    color: white;
}

.footer-social-icons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 10px 10px 10px;
}

.footer-social-icons a {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 150ms ease-in-out;
    line-height: 1;
}

.footer-social-icons a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.footer-social-icons svg {
    width: 1.25rem;
    height: 1.25rem;
    color: white;
    stroke-width: 2;
    margin: 0;
}

/* Copyright */
.copyright {
    text-align: center;
    padding-top: 2rem;
}

.copyright p {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.8);
}