.header-nav {
            background-color: white;
            border-bottom: 1px solid #eee;
        }
        
.nav-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }

        .logo-img {
            height: 40px; /* Adjust as needed */
        }

        .nav-links {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
        }

        .nav-links a {
            padding: 10px 15px;
            font-weight: bold;
            transition: color 0.3s;
        }

        .nav-links a:hover {
            color: var(--color-secondary);
        }