* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 1. Navigation Bar */
nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 80px;
    ;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    white-space: nowrap;
}



.logo-default img {
    width: 80px;
    height: auto;
}

.nav-only:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.logo-sidebar img {
    width: 80px;
    height: auto;

}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

/* 2. Slider */
.slider-section {
    background-image: url('../Images/PVCBackground.png');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.slider-content {
    position: relative;
    z-index: 10;
    text-align: center;
    max-width: 64rem;
    padding: 0 1rem;
}

.slider-title {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 800;
    color: white;
    margin-bottom: 1rem;
}

.slider-subtitle {
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .slider-title {
        font-size: 3.75rem;
    }

    .slider-subtitle {
        font-size: 1.5rem;
    }
}

/* 3. Call-to-Action */
.promo-section-wrapper {
    background-color: #57BC90;
    padding: 3rem 0;
    text-align: center;
    background-color: white;
}

.promo-title-main {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3A55B4;
    margin-bottom: 2rem;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

@media (min-width: 768px) {
    .promo-title-main {
        font-size: 2.25rem;
    }
}

.promo-card-grid {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .promo-card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.promo-card {
    /* Simulates the light gray/gradient look from the image */
    background-color: white;
    padding: 1.5rem 1.5rem;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 20rem;
    justify-content: center;
    transition: transform 300ms;
}

.promo-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.promo-card-title {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin-bottom: 0.5rem;
}

.promo-card-description {
    color: #4b5563;
    margin-bottom: 2rem;
    max-width: 300px;
    font-size: 1rem;
}

.cta-button {
    font-weight: 700;
    padding: 0.75rem 4rem;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 300ms;
    text-transform: uppercase;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-button:hover {
    transform: scale(1.05);
}

.cta-button-primary {
    background-color: #6FFF00;
    border: 2px solid var(--color-primary);
    color: var(--color-text-dark);
    text-decoration: none;
}

.cta-button-primary:hover {
    background-color: #CCFF8C;
}

.cta-button-secondary {
    background-color: #6FFF00;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    text-decoration: none;
}

.cta-button-secondary:hover {
    background-color: #CCFF8C;
}

/* 4. Featured Products */
.product-highlight-section {
    background: #FFFFFF;
    padding: 2rem;
}

.featured-title {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 4rem;
    padding-top: 2rem;
    color: #000000;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    margin: 20px;
}

@media (min-width: 768px) {

    .product-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.product-card {
    background-color: white;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in-out;
}

.product-card:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.product-image {
    width: 100%;
    height: auto;
    background: cover;
}

.product-content {
    padding: 1.5rem;
}

.product-content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 0.5rem;
}

.product-content p {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

.product-tag {
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
}

.tag-blue {
    background-color: #dbeafe;
    color: #1e40af;
}

.tag-red {
    background-color: #fee2e2;
    color: #991b1b;
}

.tag-sky {
    background-color: #e0f2fe;
    color: #075985;
}

/* 6. Why Choose Us Section */
.why-choose-section {
    background-color: #dcfce7;
    padding: 20px 20px;
}

.why-choose-section .why-choose-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: #3A55B4;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.2;
}

@media (min-width: 768px) {
    .why-choose-section .why-choose-title {
        font-size: 3.25rem;
    }
}

.why-choose-section .section-subtitle {
    font-size: 1.125rem;
    color: var(--color-secondary-text);
    margin-bottom: 3rem;
    text-align: center;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .why-choose-section .section-subtitle {
        font-size: 1.25rem;
    }
}

.why-choose-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
}

@media (min-width: 768px) {

    .why-choose-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;
    }
}

.reason-card {
    background-color: #f0f0f0;
    border-radius: 0.75rem;
    padding: 1.5rem 3rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: all 0.2s ease-in-out;
    border: 1px solid #d4d4d4;
    font-size: 1.2rem;
}

.reason-card p {
    color: rgba(0, 0, 0, 0.8);
}

.reason-card:hover {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

/* 5. Summary Cards */
.intro-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: auto;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../Images/PVCBackground4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.intro-section h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: white;
}

.intro-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.intro-card {
    display: block;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    transition-property: transform, box-shadow;
    transition-duration: 300ms;
    text-decoration: none;
}

.intro-card:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    transform: translateY(-0.25rem);
}

.intro-card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #3A55B4;
}

.intro-card h3:hover {
    text-decoration: underline;
}

.intro-card p {
    color: #4b5563;
    font-size: 0.875rem;
}

@media (min-width: 768px) {

    .intro-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .section-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}

@media (min-width: 1024px) {

    .section-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

/* 6. Footer */
.footer {
    background-color: #77C9D4;
}

.footer-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* 4-column structure */
.footer-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin: 1.5rem;
    gap: 20px;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media (min-width: 640px) {

    .footer-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {

    .footer-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.footer-link-group h4 {
    font-size: 1.375rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1.5rem;
    color: #46787f;
    position: relative;
    padding-bottom: 0.5rem;
}

.footer-link-group h4:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2rem;
    height: 3px;
    background-color: white;
    border-radius: 9999px;
}

.footer-logo {
    grid-column: span 1;
    margin: 10px;
}

.footer-logo img {
    width: 80px;
    height: auto;
}

@media (min-width: 1024px) {

    .footer-logo {
        grid-column: span 1;
    }
}

.footer-logo h4 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.2;
    gap: 1rem;
    margin-bottom: 1rem;
    color: white;
    display: flex;
    align-items: center;
}

.footer-logo h4:after {
    content: none;
}

.footer-logo p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.6;
}

.footer-link-group ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    color: rgba(0, 0, 0, 0.8)
}

.footer-link-group a {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    transition: color 150ms ease-in-out;
}

.footer-link-group a:hover {
    color: white;
}

.footer-social-icons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 10px 10px 10px;
}

.footer-social-icons a {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 150ms ease-in-out;
    line-height: 1;
}

.footer-social-icons a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.footer-social-icons svg {
    width: 1.25rem;
    height: 1.25rem;
    color: white;
    stroke-width: 2;
    margin: 0;
}

/* Copyright */
.copyright {
    text-align: center;
    padding-top: 2rem;
}

.copyright p {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.8);
}