:root {
  --primary-color: #0b4e54;
  --accent-color: #38a59b;
  --text-color: #333;
  --light-bg: #f4f4f4;
  --white-bg: #fff;
  --dark-bg: #222;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 1. Navigation Bar */
nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 80px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    white-space: nowrap;
}

.logo-default img {
    width: 80px;
    height: auto;
}

.nav-only:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.logo-sidebar img {
    width: 80px;
    height: auto;

}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}


/*2. Header Section*/
.Header-section {
  background: url("../Images/bgpic_productpage.jpg") center/cover no-repeat;
  height: 450px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 50px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  row-gap: 10px;
}

.Header-content {
  margin-top: 80px;
  color: white;
  z-index: 10;
}

.Header-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.Header-content p {
  font-size: 18px;
  font-weight: 300;
}

/* RADIO BUTTONS (HIDDEN) */
input[type="radio"] {
  display: none;
}

/* 3. TABS */
.product_range {
  margin-left: 20px;
  margin-top: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #0b4e54;
  display: flex;
  justify-content: center;
}

.tabs .tab {
  padding: 10px 20px;
  background: #ddd;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#all:checked~.tabs label[for="all"],
#plain:checked~.tabs label[for="plain"],
#ribbed:checked~.tabs label[for="ribbed"] {
  background: #0AA06E;
  color: white;
}

.tabs {
  display: flex;
  justify-content: center;
  background: white;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin-left: 20px;
  margin-bottom: 50px;
}

.tab {
  border: none;
  background: #f0f0f0;
  color: #333;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.tab.active,
.tab:hover {
  background: #00897B;
  color: white;
}

/* FILTERING RULES */
.product-card {
  display: block;
}

#plain:checked~.product-grid .product-card:not(.plain) {
  display: none;
}

#ribbed:checked~.product-grid .product-card:not(.ribbed) {
  display: none;
}

#all:checked~.product-grid .product-card {
  display: block;
}

/*4. Products*/
.product-grid {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

.product-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;

}

.size-image {
  display: flex;
  justify-content: space-between;

}

.prod-image {
  width: 150px;
  height: 150px;
  margin: 15px auto;
  display: flex;/
}

.product-card img {
  width: 120px;
  height: auto;
  margin: 15px auto;
  display: block;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.product-card h3 {
  font-size: 16px;
  color: #222;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 14px;
  color: #555;
}

.order-btn {
  background-color: #00897B;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.order-btn:hover {
  background-color: #00695C;
}

.link-quote {
  text-decoration-line: none;
}

/* 5. Footer */
.footer {
  width: 100%;
  margin-top: 50px;
  background-color: #77C9D4;
}

.footer-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* 4-column structure */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin: 1.5rem;
  gap: 20px;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media (min-width: 640px) {

  .footer-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {

  .footer-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.footer-link-group h4 {
  font-size: 1.375rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1.5rem;
  color: #46787f;
  position: relative;
  padding-bottom: 0.5rem;
}

.footer-link-group h4:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2rem;
  height: 3px;
  background-color: white;
  border-radius: 9999px;
}

.footer-logo {
  grid-column: span 1;
  margin: 10px;
}

.footer-logo img {
  width: 80px;
  height: auto;
}

@media (min-width: 1024px) {

  .footer-logo {
    grid-column: span 1;
  }
}

.footer-logo h4 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
  gap: 1rem;
  margin-bottom: 1rem;
  color: white;
  display: flex;
  align-items: center;
}

.footer-logo h4:after {
  content: none;
}

.footer-logo p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.6;
}

.footer-link-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: rgba(0, 0, 0, 0.8)
}

.footer-link-group a {
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  transition: color 150ms ease-in-out;
}

.footer-link-group a:hover {
  color: white;
}

.footer-social-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 10px 10px 10px;
}

.footer-social-icons a {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 150ms ease-in-out;
  line-height: 1;
}

.footer-social-icons a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-social-icons svg {
  width: 1.25rem;
  height: 1.25rem;
  color: white;
  stroke-width: 2;
  margin: 0;
}

/* Copyright */
.copyright {
  text-align: center;
  padding-top: 2rem;
}

.copyright p {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.8);
}

/* MOBILE RESPONSIVE*/
@media(max-width: 768px) {

  /* 1. Navigation */
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  /* 2. Header Section */
  .Header-section {
    height: 350px;
    padding: 0 20px;
    width: auto;
  }

  .Header-content {
    margin-top: 80px;
  }

  .Header-content h1 {
    font-size: 36px;
    letter-spacing: 1px;
  }

  .Header-content p {
    font-size: 16px;
  }

  /* 3. TABS */
  .product_range {
    margin-left: 0;
  }

  .tabs {
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .tabs .tab {
    margin: 5px 5px;
    padding: 8px 15px;
  }

  /* 4. Products */
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
    max-width: 400px;
    padding: 0 20px; 
  }

  .prod-image {
    width: 120px;
    height: 120px;
  }

  .product-card img {
    width: 100px;
    height: auto;
  }
}

@media(max-width: 400px) {

  /* 1. Sidebar */
  .sidebar {
    width: 100%;
  }

  /* 2. Header Section */
  .Header-section {
    height: 300px;
    padding: 0 15px;
    width: 360px;
  }

  .Header-content h1 {
    font-size: 30px;
  }

  .Header-content p {
    font-size: 14px;
  }

  /* 3. TABS */
  .tabs .tab {
    font-size: 14px;
  }

  /* 4. Products */
  .product-card {
    padding: 15px;
  }

  .product-card h3 {
    font-size: 18px;
  }

  .product-range{
    align-items: center;
  }

  /* 5. Footer */
  .footer-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin: 1rem;
  }

  .footer-link-group h4 {
    font-size: 1.25rem;
  }

  .footer{ 
    width: 380px;
  }
}