/*Navigation Section*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--color-dark);
    background-color: var(--color-light);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}   
  
.header-nav {
    background-color: white;
    border-bottom: 1px solid #eee;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo-img {
    height: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links a {
    padding: 20px 40px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--color-secondary);
}

/*Header*/
.productpage-title{
    display: flex;
    justify-content: center;
}

/*Tabs*/
.tabs {
  display: flex;
  justify-content:flex-start;
  background: white;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.tab {
  border: none;
  background: #f0f0f0;
  color: #333;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}

.tab.active,
.tab:hover {
  background: #00897B;
  color: white;
}

/*Products*/
.product-grid {
  width: 100% ;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.product-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}
.size-image{
    display:flex;
    justify-content: space-between;
}

.product-card img {
  width: 120px;
  height: auto;
  margin: 15px auto;
  display: block;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.product-card h3 {
  font-size: 16px;
  color: #222;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 14px;
  color: #555;
}

.order-btn {
  background-color: #00897B;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.order-btn:hover {
  background-color: #00695C;
}
