:root {
    --primary-color: #0b4e54;
    --accent-color: #38a59b;
    --text-color: #333;
    --light-bg: #f4f4f4;
    --white-bg: #fff;
    --dark-bg: #222;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--white-bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 1. Navigation Bar */
nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 80px;
    ;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    white-space: nowrap;
}



.logo-default img {
    width: 80px;
    height: auto;
}

.nav-only:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.logo-sidebar img {
    width: 80px;
    height: auto;

}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

/*Header Section*/
.header-section {
    background: url("../Images/PVCBackground3.png") center/cover no-repeat;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}

.page-header-content {
    color: white;
    text-align: center;
    max-width: 800px;
    padding: 0 20px;
}

.page-header-content h1 {
    font-size: 44px;
    font-weight: 800;
    margin-bottom: 15px;
    line-height: 1.1;
}

.page-header-content p {
    font-size: 18px;
    font-weight: 300;
}

/*Services Offer*/
.section-title {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.service-card {
    background-color: var(--white-bg);
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
    border-top: 5px solid transparent;
    /* Placeholder for hover effect */
}

.service-card:hover {
    transform: translateY(-5px);
    border-top-color: var(--accent-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.icon-circle1 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px;

    background-color: var(--accent-color);
    background-image: url("../Images/installation.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}


.icon-circle2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px;

    background-color: var(--accent-color);
    background-image: url("../Images/maintenance.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-circle3 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px;

    background-color: var(--accent-color);
    background-image: url("../Images/repair.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}


.service-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.service-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    min-height: 40px;
    /* Ensures height consistency */
}

.service-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.service-link i {
    margin-left: 5px;
    font-size: 12px;
    transition: margin-left 0.3s;
}

.service-link:hover i {
    margin-left: 10px;
}

/* Popup Background Overlay */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(244, 239, 239, 0.6);
    z-index: 999;
}

/* Show when opened */
.popup-container:target {
    display: flex;
}

/* Popup Box */
.popup-box {
    background: #fff;
    width: 400px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
    margin-bottom: 10px;
    position: relative;
}

.content-services{
    margin-bottom: 50px;
}

.justified-text,
.justify {
    text-align: justify;
    list-style-type: none;
}

/* Close Button */
.close-btn {
    display: inline-block;
    background: #e6394745;
    padding: 5px 10px;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.closebtn-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 15px;
    right: 15px;

}

.close-btn:hover {
    background: #d62828;
}

.consult-btn {
    background-color: #38a59b;
    border-radius: 6px;
    padding: 10px 18px;
    margin-top: 20px;
    text-decoration-line: none;
    color: #222;
}

.consult-btn:hover {
    background-color: #0b4e54;
    color: white;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.85);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*Other Offers Service*/
.other-offers {
    background-color: #e5e5e5;
    padding: 20px 20px;
    margin: 50px auto;
}

.offers-flex-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.offer-box {
    flex-basis: 30%;
    padding: 25px;
    background-color: var(--white-bg);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.offer-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.offer-box i {
    font-size: 32px;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.offer-box h4 {
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 12px;
}

.short-desc {
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 14px;
    color: #777;
}

.square-corner1 {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    margin: 0 auto 20px;

    background-color: var(--light-bg);
    background-image: url("../Images/epoxy\ injection.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.square-corner2 {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    margin: 0 auto 20px;

    background-color: var(--light-bg);
    background-image: url("../Images/Polyurenthane\ Injection.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

/* CTA Section*/
.cta-section {
    background-color: var(--accent-color);
    padding: 50px 0;
    margin-bottom: 0;
}

.cta-box {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text h3 {
    color: var(--white-bg);
    font-size: 28px;
    margin-bottom: 5px;
}

.cta-text p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

.cta-button {
    background-color: var(--primary-color);
    color: var(--white-bg);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
}

.cta-button:hover {
    background-color: #31948a;
    transform: scale(1.05);
}

/* Footer */
.footer {
  background-color: #77C9D4;
  margin-top: 50px;
}

.footer-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* 4-column structure */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin: 1.5rem;
  gap: 20px;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media (min-width: 640px) {

  .footer-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {

  .footer-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.footer-link-group h4 {
  font-size: 1.375rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1.5rem;
  color: #46787f;
  position: relative;
  padding-bottom: 0.5rem;
}

.footer-link-group h4:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2rem;
  height: 3px;
  background-color: white;
  border-radius: 9999px;
}

.footer-logo {
  grid-column: span 1;
  margin: 10px;
}

.footer-logo img {
  width: 80px;
  height: auto;
}

@media (min-width: 1024px) {

  .footer-logo {
    grid-column: span 1;
  }
}

.footer-logo h4 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
  gap: 1rem;
  margin-bottom: 1rem;
  color: white;
  display: flex;
  align-items: center;
}

.footer-logo h4:after {
  content: none;
}

.footer-logo p {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.6;
}

.footer-link-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: rgba(0, 0, 0, 0.8)
}

.footer-link-group a {
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  transition: color 150ms ease-in-out;
}

.footer-link-group a:hover {
  color: white;
}

.footer-social-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 10px 10px 10px;
}

.footer-social-icons a {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 150ms ease-in-out;
  line-height: 1;
}

.footer-social-icons a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-social-icons svg {
  width: 1.25rem;
  height: 1.25rem;
  color: white;
  stroke-width: 2;
  margin: 0;
}

/* Copyright */
.copyright {
  text-align: center;
  padding-top: 2rem;
}

.copyright p {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.8);
}
